<div class="container" ng-controller="DefaultController">
    <div class="page-header">
        <h1>Cheeky CMS Examples</h1>
        <p class="lead">Examples of using Cheeky CMS with an angular application.</p>
    </div>
            
    <h3>Editing Demo</h3>
    <p cheeky-content="demo.demotext1" cheeky-editable>
        The rules of the Hunger Games are simple. In punishment for the uprising, each of the twelve districts must provide one girl and one boy, called tributes, to participate. The twenty-four tributes will be imprisoned in a vast outdoor arena that could hold anything from a burning desert to a frozen wasteland. Over a period of several weeks, the competitors must fight to the death. The last tribute standing wins.
    </p>
    
    <h3>Configuration</h3>
    <p>Configure your angular application by defining the keys and endpoints</p>
    <pre>angular.module('app', ['ngSanitize', 'cheeky'])
    .config(function(cheekyCMSProvider){
        cheekyCMSProvider.map({
            "website1": "/path/to/cheeky-cms/website1",
            "website2": "/path/to/cheeky-cms/website2"
        });
    });</pre>
    <p>Keys map to the first segment of a content path. If the content key in the CMS for a particular piece of content is <code>website1.aboutpage.title</code>, the key is <code>website1</code>.</p>
    <p>The first time the application encounters the key <code>website1</code>, it will download and cache all content under that path so further calls to that same key will not make a call to the REST endpoint.</p>
                
    <h3>Getting content with angular.js</h3>
    
    <p>Map content to a CMS key using a directive as an element</p>
    <pre>// using an element
&lt;cheeky-content path=&quot;content.msgs.welcome&quot;&gt;&lt;/cheeky-content&gt;

// using an attribute
&lt;div cheeky-content=&quot;content.msgs.welcome&quot;&gt;&lt;/div&gt;</pre>

    <h3>Enable content editing with angular.js</h3>
    <p>Content can be made editable by adding the <code>cheeky-editable</code> attribute.</p>
        <pre>// using an element
&lt;cheeky-content path=&quot;content.msgs.welcome&quot; cheeky-editable&gt;&lt;/cheeky-content&gt;

// using an attribute
&lt;div cheeky-content=&quot;content.msgs.welcome&quot; cheeky-editable&gt;&lt;/div&gt;</pre>
    
</div>

<script type="text/ng-template" id="template/cms-ribbon">
<nav id="cms-ribbon" class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cms-ribbon-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><div class="cheeky">Cheeky</div>CMS</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="cms-ribbon-collapse">
            <form class="navbar-form navbar-left ng-pristine ng-valid ng-submitted">
                <div class="form-group">
                    <button type="button" class="btn btn-default cms-button-bold" title="Bold">B</button>
                    <button type="button" class="btn btn-default cms-button-italic" title="Italicize">I</button>
                    <button type="button" class="btn btn-default cms-button-underline" title="Underline">U</button>
                    <select class="cms-select-block form-control" title="Type">
                        <option value="H1">H1</option>
                        <option value="H2">H2</option>
                        <option value="H3">H3</option>
                        <option value="H4">H4</option>
                        <option value="Paragraph">Paragraph</option>
                    </select>
                    <button type="button" class="btn btn-default cms-button-ol" title="Numbered List"><span class="cux-icon-list_1"></span></button>
                    <button type="button" class="btn btn-default cms-button-ul" title="Bulleted List"><span class="cux-icon-list_1"></span></button>
                    <button type="button" class="btn btn-default cms-button-link" title="Link"><span class="cux-icon-link"></span></button>
                    <button type="button" class="btn btn-default cms-button-image" title="Image"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                </div>
            </form>
            <form class="navbar-form navbar-right ng-pristine ng-valid">
                <button type="button" class="btn btn-default navbar-btn" id="cms-cancel">Cancel <span class="cux-icon-close"></span></button>
                <button type="button" class="btn btn-primary navbar-btn" id="cms-save">Save <span class="cux-icon-save"></span></button>
            </form>
        </div>
    </div>
</nav>
</script>