<div class="container" ng-controller="DeveloperController as dev">
    <h2>Developers Page</h2>
    <p>Developer integration of Cheeky is easy!</p>

    <section>
        <h4>Scripts</h4>
        <code>&lt;script src=&quot;{{dev.url}}/cheeky.js&quot;&gt;&lt;/script&gt;</code>
    </section>
    
    <section>
        <h4>Angular Directives</h4>
        <code>&lt;ck-content path=&quot;cap.messages.error&quot;&gt;&lt;/ck-content&gt;</code>
        <ck-content path="cap.messages.error"></ck-content>
    </section>
</div>