<div id="cheeky-ribbon">
    <div class="cheeky-container">
        <span class="cheeky-ribbon-brand"><div class="cheeky-title">Cheeky</div>CMS</span>

        <form class="cheeky-ribbon-left ng-pristine ng-valid ng-submitted">
            <button type="button" class="cheeky-button-bold" title="Bold">B</button>
            <button type="button" class="cheeky-button-italic" title="Italicize">I</button>
            <button type="button" class="cheeky-button-underline" title="Underline">U</button>
            <select title="Type" class="cheeky-select-textstyle">
                <option value="H1">H1</option>
                <option value="H2">H2</option>
                <option value="H3">H3</option>
                <option value="H4">H4</option>
                <option value="Paragraph">Paragraph</option>
            </select>
            <button type="button" class="cheeky-button-icon cheeky-button-ol" title="Numbered List"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-ul" title="Bulleted List"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-link" title="Link"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-image" title="Image"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-clrformat" title="Clear Formatting"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-undo" title="Undo"></button>
            <button type="button" class="cheeky-button-icon cheeky-button-redo" title="Redo"></button>
        </form>

        <form class="cheeky-ribbon-right ng-pristine ng-valid">
            <button type="button" class="cheeky-btn-cancel" id="cheeky-cancel" ng-show="mode == modes.edit">Cancel <span class="cux-icon-close"></span></button>
            <button type="button" class="cheeky-btn-save" id="cheeky-save" ng-show="mode == modes.edit">Save <span class="cux-icon-save"></span></button>
            <button type="button" class="cheeky-btn-edit" id="cheeky-edit" ng-show="mode == modes.preview" ng-click="showEditor()">Edit<span class="cux-icon-save"></span></button>
            <button type="button" class="cheeky-btn-preview" id="cheeky-preview" ng-show="mode == modes.edit" ng-click="showPreview()">Preview<span class="cux-icon-save"></span></button>
        </form>
    </div>
</div>