<div class="mp-level">
	<h2>{{item.title}}</h2>
	<a href="#" class="mp-back" ng-click="$parent.return()" ng-show="level>0"><i class="fa fa-angle-left"></i> back to {{$parent.$parent.item.title}}</a>
	<ul>
		<li ng-repeat="child in item.items">
			<a href="#" ng-class="{'mp-category' : child.items, 'mp-select' : !child.items}" ng-click="navigate(item, child)">{{child.title}} <i class="fa fa-angle-right" ng-show="child.items"></i></a>
		</li>
	</ul>
	<div class="mp-level-overlay" ng-show="item.overlay">
		<div class="vertical-text"><i class="fa fa-folder"></i> {{item.title}}</div>
	</div>
</div>